<a href="https://colab.research.google.com/github/zohaib166/python_general/blob/main/Python_Unit_I_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

## **Tokens and Keywords**

![image.png]()

## **Python as Calculator**
**Objectives:**

*Arithmetic Operators*: ***, +,-,*,/,//,%

*Assignment Operators*: =, +=, -=, *=, /=, //=, %=, **=

*Relational Operators*: ==, !=, >, <, >=, <=

*Boolean Operator*: and, or, not

*Identity operator*: is

*Membership Operators*: in

*Deletion operator*: del

*Bitwise Operator*: &, |, ^, ~, <<, >>


## Number

In [ ]:
2+2

4

In [ ]:
50 - 5*6

20

In [ ]:
(50 - 5*6)/4

5.0

In [ ]:
8/5

1.6

In [ ]:
23//5

4

In [ ]:
23 % 5

3

In [ ]:
5 ** 2

25

In [ ]:
4 * 3.75 + 1

16.0

##Text

In [ ]:
'spam eggs'

'spam eggs'

In [ ]:
"Paris rabbit got your back :)! Yay!"

'Paris rabbit got your back :)! Yay!'

In [ ]:
'1975'

'1975'

In [ ]:
# Printing ' - Method 1
'doesn\'t'

"doesn't"

In [ ]:
# Printing ' - Method 2
"doesn't"

"doesn't"

In [ ]:
# Printing " - method 1
print('"Yes," they said.')

"Yes," they said.

In [ ]:
# Printing " - method 2
print("\"Yes,\" they said.")

"Yes," they said.

In [ ]:
# escaping \
print("C:\some\\name")

C:\some\name

In [ ]:
# raw string
print(r"C:\some\name")

C:\some\name

In [ ]:
#multiline print
print("""Zohaib
Hasan""")

Zohaib
Hasan

In [ ]:
print(2*'ma' + 'earth')

mamaearth

In [ ]:
# two sentence written next to each other are automatically joined
'Py' 'thon'

'Python'

In [ ]:
# the above feature helps in changing line while printing a large sentence
text = ('Put several strings within parentheses '
        'to have them joined together.')
print(text)

Put several strings within parentheses to have them joined together.

In [ ]:
#concatenate variable with literals
prefix = 'py'
print(prefix+'thon')

python

## Indexing and slicing of strings

In [ ]:
word = 'Python'
print(word[0])
print(word[5])
print(word[-1])
print(word[-6])

P
n
n
P

In [ ]:
print(word[0:3])
print(word[:4])
print(word[3:])
print(word[-5:])

Pyt
Pyth
hon
ython

In [ ]:
print(word[2:]+word[0:2])

thonPy

In [ ]:
# Strings are immutable
# Convert 'Python' into 'Jython'
word = 'Python'
word[0] = 'J'
print(word)

TypeError: 'str' object does not support item assignment

In [ ]:
word = 'Python'
word = 'J' + word[1:]
print(word)

Jython

In [ ]:
# String formatting
name = 'Zohaib'
age = 40
print("The name is {}, and the age is {}".format(name, age))
print(f'The name is {name}, and the age is {age}')

The name is Zohaib, and the age is 40
The name is Zohaib, and the age is 40

## List

### General Introduction

In [ ]:
squares = [1,4,9,16,25]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# List support concatenation

squares + [10,20,30,40,50]

[1, 4, 66, 16, 25, 100, 10, 20, 30, 40, 50]

In [ ]:
# lists are mutable
squares[2] = 66
print(squares)

[1, 4, 66, 16, 25, 100]

In [ ]:
nums = squares
print(nums)

[1, 4, 66, 16, 25, 100]

In [ ]:
nums == squares

True

In [ ]:
num = [1,2,3,4,5]
print(num)
num1,num2 = num[:-3],num[-3:]
print(num1)
print(num2)

[1, 2, 3, 4, 5]
[1, 2]
[3, 4, 5]

### Slicing

In [ ]:
# All slice operations results in shallow copy
new_sq = squares[:]

In [ ]:
new_sq[-1] = 0

In [ ]:
new_sq == squares

False

In [ ]:
print(new_sq)
print(squares)

[4, 66, 16, 25, 0]
[4, 66, 16, 25, 100]

In [ ]:
# Assignment to Slices
alpha = ['a','b','c','d','e','f','g','h']
alpha[0:2] = ['A','B']
print(alpha)

['A', 'B', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
alpha[0:2] = []
print(alpha)

['c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
alpha[:] = []
print(alpha)

[]

### List functions

In [ ]:
my_list = [1,2,3,4,5]
print(*my_list, sep='-')

1-2-3-4-5

In [ ]:
# Modify List
courses = ['ada', 'ds', 'oopm', 'cn']
print(courses.pop())
print(courses)
courses.append('cn')
print(courses)
courses.remove('ada')
print(courses)
courses.insert(0,'ada')
print(courses)
new_courses = ['os', 'se']
courses.insert(0, new_courses)
print(courses)
print(courses.pop(0))
print(courses)

cn
['ada', 'ds', 'oopm']
['ada', 'ds', 'oopm', 'cn']
['ds', 'oopm', 'cn']
['ada', 'ds', 'oopm', 'cn']
[['os', 'se'], 'ada', 'ds', 'oopm', 'cn']
['os', 'se']
['ada', 'ds', 'oopm', 'cn']

In [ ]:
# aggregation
my_list = [1,2,3,4,5]
your_list = [1,2,1]
my_list.extend(your_list)
print(my_list)
print(sum(my_list))
print(my_list.count(1))

[1, 2, 3, 4, 5, 1, 2, 1]
19
3

In [ ]:
# Find element in the list
print(my_list.index(2))
print(my_list.index(1,3,10)) # list.index(element, start, end) throws exception if an element is not found

print(2 in my_list)
print(10 not in my_list)

1
5
True
True

In [ ]:
nums = [21,45,78,12,56]
print(min(nums))
print(max(nums))

nums.sort()
print(nums)
nums.sort(reverse=True)
print(nums)

12
78
[12, 21, 45, 56, 78]
[78, 56, 45, 21, 12]

In [ ]:
nums = [21,45,78,12,56]
sorted_nums = sorted(nums)
print(nums)
print(sorted_nums)

[21, 45, 78, 12, 56]
[12, 21, 45, 56, 78]

In [ ]:
nums = [21,45,78,12,56]
nums.reverse()
print(nums)

[56, 12, 78, 45, 21]

In [ ]:
nums = [21,45,78,12,56]
del nums[0]
print(nums)

[45, 78, 12, 56]

### Loop through List

In [ ]:
fruits = ['apple', 'orange', 'peach', 'kiwi', 'banana']
for fruit in fruits:
  print(fruit)

apple
orange
peach
kiwi
banana

In [ ]:
for i in range(len(fruits)):
  print(fruits[i])

apple
orange
peach
kiwi
banana

In [ ]:
fruit_str = ','.join(fruits)
print(fruit_str)

new_fruits = fruit_str.split(',')
print(new_fruits)

apple,orange,peach,kiwi,banana
['apple', 'orange', 'peach', 'kiwi', 'banana']

In [ ]:
r = 3
c = 4
num = [[0]*c]*r
print(num)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
#List unpacking
nums = [12,23,45,67,89]
first, *middle, last = nums
print(first)
print(middle)
print(last)

12
[23, 45, 67]
89

In [ ]:
nums = [1,2,3,4]
print(*nums, sep = '/')

1/2/3/4

## Tuples

In [ ]:
bikes = ('pulsar',[125,150,200],'duke',[290,390],'shine',[100,125,150])
print(bikes[0])
print(bikes[1])

pulsar
[125, 150, 200]

In [ ]:
bikes[0] = 'passion'

TypeError: 'tuple' object does not support item assignment

In [ ]:
bikes[:1]

('pulsar',)

In [ ]:
# Single element tuple
my_tup = (1)
print(type(my_tup))

<class 'int'>

In [ ]:
my_tup = 1,
your_tup = (1,)

In [ ]:
print(type(my_tup), ' ', type(your_tup))

<class 'tuple'>   <class 'tuple'>

# Dictionary

1.   Declaration
2.   Access
3.   Update

## Built in dictionary methods
1.  d.clear()
2.  d.get(\<key\>[, \<default\>])
3.  d.items()
4.  d.keys()
5.  d.values()
6.  d.pop(\<key\>[, \<default\>]) *(pop a specific along with its value)*
7.  d.popitem() *(removes last added key,value pair)*
8.  d.update(\<obj\>) *(merges two dictionaries, overwrites duplicate keys)*

In [ ]:
d = {'key1':'value','key2':'value2'}
print(d['key1'])

value

In [ ]:
#Building a dictionary incrementally
person = {}
person['fname'] = 'John'
person['lname'] = 'Wick'
person['pet'] = 'Dog'
person['weapons'] = ['gun', 'knife', 'pencil', 'effectively anything']
print(person['weapons'][-1])

effectively anything

In [ ]:
fruits = {1:'apple',2:'grapes',3:'banana'}
for key, value in fruits.items():
  print(key,":",value)

1 : apple
2 : grapes
3 : banana

In [ ]:
for i in fruits.values():
  print(i)

apple
grapes
banana

In [ ]:
for i in fruits.keys():
  print(i)

1
2
3

In [ ]:
d = {'k1':{'innerkey':[1, 2, 3]}}
print(d['k1']['innerkey'][1])

2

In [ ]:
fruits = {1:'apple',2:'grapes',3:'banana'}
print(fruits)

fruits.popitem()

print(fruits)

{1: 'apple', 2: 'grapes', 3: 'banana'}
{1: 'apple', 2: 'grapes'}

In [ ]:
fruits = {1:'apple',2:'grapes',3:'banana'}
exotic_fruits = {3:'avocado', 4:'kiwi', 5:'dragonfruit'}
fruits.update(exotic_fruits)
print(fruits)

{1: 'apple', 2: 'grapes', 3: 'avocado', 4: 'kiwi', 5: 'dragonfruit'}

# Sets

In [ ]:
a = {1,2,2,2,5,5,5,3,3,7,7}
print(a)

{1, 2, 3, 5, 7}

In [ ]:
b = set([4,5,5,5,2,2,3])
print(b)

{2, 3, 4, 5}

In [ ]:
a = {5,6,7}
a.add(2)
print(a)

{2, 5, 6, 7}

In [ ]:
a = {1,2,3}
b = {3,4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
a = {1,2,3,4}
a.remove(1)
print(a)
a.discard(3)
print(a)

{2, 3, 4}
{2, 4}

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}
print(a.union(b))

{1, 2, 3, 4, 5, 6}

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}
print(a.intersection(b))

{3, 4}

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}
print(a.difference(b))

{1, 2}

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}
print(a.symmetric_difference(b))

{1, 2, 5, 6}

# Functions in Python
## Introduction

In [ ]:
def f():
  s = "Inside f"
  print(s)

f()

Inside f

## Positional Arguments

In [ ]:
def calc(qty, item, price):
  print(f'{qty} {item} costs Rs. {qty*price}/-')

calc(2,'biscuits',15)

2 biscuits costs Rs. 30/-

## Keyword Arguments

In [ ]:
calc(item='biscuits',price=15,qty=2)

2 biscuits costs Rs. 30/-

## Positional and Keyword Arguments
Keyword argument must come after Positional arguments. Once you’ve specified a keyword argument, there can’t be any positional arguments to the right of it.

In [ ]:
calc(4, price = 2.3, item = 'banana')

4 banana costs Rs. 9.2/-

## Default (optional) parameters

In [ ]:
def calc(qty, item = 'products', price = 5):
  print(f'{qty} {item} costs Rs.{qty*price}/-')

calc(3)

3 products costs Rs.15/-

## Mutable default parameter
**Default parameter values are defined only once**

In [ ]:
def fun(mylist = []):
  mylist.append('*')
  return mylist

print(fun())
print(fun())
print(fun())

['*']
['*', '*']
['*', '*', '*']

Demonstrate the fact using id()

In [ ]:
def fun(mylist = []):
  print(id(mylist))
  mylist.append('*')
  return mylist

print(fun())
print(fun())
print(fun())

138183136448256
['*']
138183136448256
['*', '*']
138183136448256
['*', '*', '*']

**Workaround:** Pass default list as None and check if list is None

In [ ]:
def fun(mylist = None):
  if mylist is None:
    mylist = []
  mylist.append('*')
  return mylist

print(fun())
print(fun())

['*']
['*']

Pass by value ❌

Pass by reference ❌

Pass by assignment ✔

In [ ]:
def fun(fx):
  print("2:",id(fx))
  fx = 10
  print("3:",id(fx))

x = 5

print("1:", id(x))
fun(x)

1: 138184417935728
2: 138184417935728
3: 138184417935888

# Variable length argument

In [ ]:
def avg(a,b,c):
  return (a+b+c)/3

print(avg(3,5,7))

5.0

In [ ]:
#returning multiple elements
def sum_diff(a,b):
  return a+b,a-b

add, diff = sum_diff(50,45)
print(add, diff)

95 5

In [ ]:
# Argument tuple packing
def avg(*nums):
  return sum(nums)/len(nums)

print(avg(112,32,45,76,78))

68.6

In [ ]:
# Argument tuple unpacking
def fun(x,y,z):
  print(f'{x}/{y}/{z}')

num = (2,4,6)
fun(*num)

2/4/6

In [ ]:
# dictionary packing
def fun(**args):
  for key,val in args.items():
    print(key,"->",val)

fun(foo=1, bar=2, baz=3)

foo -> 1
bar -> 2
baz -> 3

In [ ]:
# dictionary unpacking
def fun(name,age,skill):
  print(f'name={name}')
  print(f'age={age}')
  print(f'skill={skill}')

d = {'name':'foo', 'age':'bar', 'skill':'baz'}
fun(**d)

name=foo
age=bar
skill=baz

## Anonymous Functions (Lambda Functions)

lambda arguments : expression

In [ ]:
# Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
# Multiply argument a with argument b and return the result:
x = lambda a,b : a * b
print(x(4,5))

20

## Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

In [ ]:
def func(n):
  return lambda a: a*n

mydoubler = func(2)
print(mydoubler(5))

10

Above same function can be used to make a tripler function

In [ ]:
mytripler = func(3)
print(mytripler(5))

15

## Map, Filter and Reduce

In [ ]:
# Convert all the strings in a list to uppercase

myfruits = ['apple', 'grape', 'orange']

bigfruits = []
for i in myfruits:
  bigfruits.append(i.upper())
print(bigfruits)

['APPLE', 'GRAPE', 'ORANGE']

In [ ]:
# The above task can also be done using map
myfruits = ['apple', 'grape', 'orange']
bigfruits = list(map(str.upper, myfruits))
print(bigfruits)

['APPLE', 'GRAPE', 'ORANGE']

# Object Oriented Programming

## Classes and Objects

In [ ]:
# creating a class in python

class Car:
  pass

c1 = Car()
print(type(c1))
c2 = Car()

print(c1==c2)

<class '__main__.Car'>
False

In [ ]:
# declare and initialize instance attributes and class attributes

class Dog:
  species = 'German Shepherd' #class attribute
  def __init__(self, name, age):
    # instance attributes
    self.name = name
    self.age = age

d1 = Dog('Jacob', 5)

print(d1.name)
print(d1.age)
print(d1.species)

d1.name = 'sheru'
d1.age = 4
d1.species = 'desi kutta'

print(d1.name)
print(d1.age)
print(d1.species)

Jacob
5
German Shepherd
sheru
4
desi kutta

## Instance methods

In [ ]:
class Dog:
  species = 'German Shepherd' #class attribute
  def __init__(self, name, age):
    # instance attributes
    self.name = name
    self.age = age

  def description(self):
    print(f'{self.name} is {self.age} years old.')

  def speak(self, sound):
    print(f'{self.name} says {sound}')

mydog = Dog('tommy', 2)
mydog.description()
mydog.speak('Bhow Bhow')

tommy is 2 years old.
tommy says Bhow Bhow

## Directly printing and instance

In [ ]:
class Dog:
  species = 'German Shepherd' #class attribute
  def __init__(self, name, age):
    # instance attributes
    self.name = name
    self.age = age

  def __str__(self):
    return f'[name->{self.name}; age->{self.age}]'

  def description(self):
    print(f'{self.name} is {self.age} years old.')

  def speak(self, sound):
    print(f'{self.name} says {sound}')


d1 = Dog('hitler',8)
print(d1)

[name->hitler; age->8]