<a href="https://colab.research.google.com/github/zohaib166/python_general/blob/main/Python_Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

## **Tokens and Keywords**

![image.png]()

## **Python as Calculator**
**Objectives:**

*Arithmetic Operators*: ***, +,-,*,/,//,%

*Assignment Operators*: =, +=, -=, *=, /=, //=, %=, **=

*Relational Operators*: ==, !=, >, <, >=, <=

*Boolean Operator*: and, or, not

*Identity operator*: is

*Membership Operators*: in

*Deletion operator*: del

*Bitwise Operator*: &, |, ^, ~, <<, >>

In [ ]:
print(3+2)

5

In [ ]:
4-2

2

In [ ]:
7%2

1

In [ ]:
a = 20
a //= 5
print(a)

4

In [ ]:
5 != 5

False

In [ ]:
5<8 and 7>10

False

In [ ]:
5<8 or 7>10

True

In [ ]:
age = int(input('Enter age '))
gender = input('Enter gender ')
can_vote = age >= 18
can_marry = (gender == 'M' and age >= 25) or (gender == 'F' and age >= 22)
if can_vote:
  print('Can Vote')
else:
  print('Cannot Vote')
if can_marry:
  print('Can Marry')
else:
  print('Cannot Marry')

KeyboardInterrupt: Interrupted by user

In [ ]:
a = 'Zohaib'
b = 'zohaib'
print(a is b)

In [ ]:
a = 3<4
b = 7>5
print(a == b)

 5 & 10

 00000101
 00001010
 ---------
 00000000

  5 | 10

 00000101
 00001010
 ---------
 00001111

In [ ]:
print(5 & 10)
print(5 | 10)
print(5 ^ 10)
print(~5)
print(5<<5)
print(10>>1)

# Data Types
* int
* float
* str
* bool
* NoneType
* complex

In [ ]:
print(type(2))
print(type(2.3))
print(type("a"))
print(type('abc'))
print(type(True))
print(type(None))
print(type(3+4j))

# Flow control
* if else
* if elif
* pass
* \<expr1\> if \<conditional_expr\> else \<expr2\>
* for
* while

In [ ]:
for i in range(2,11):
  print(i)

In [ ]:
a = 345; sum = 0
while(a>0):
  sum = sum + a % 10
  a = a // 10

print(sum)

In [ ]:
a = 23
if a!=23:
  pass
else:
  print('hi')

### **Question 1:**

Accept two positive integers M and N as input. There are two cases to consider:

(1) If M < N, then print M as output.

(2) If M >= N, subtract N from M. Call the difference M1. If M1 >= N, then subtract N from M1 and call the difference M2. Keep doing this operation until you reach a value k, such that, Mk < N. You have to print the value of Mk as output.

In [ ]:
# Question 1 (Bad Method)
M = int(input("enter M "))
N = int(input("enter N "))
if M < N:
  print(M)
else:
  while(M>=N):
    M = M-N
  print(M)

In [ ]:
# Question 1 (Actual Method)
M = int(input("enter M "))
N = int(input("enter N "))
print(M%N)

In [ ]:
a = 3
b = 4
print("My age is {} and my dog's age is {}".format(a,b))

## List

#### Declaration and Initialization

In [ ]:
mylist = []
yourlist = [1,2,3,4,5]
hislist = [2.5,6.8,8.9]
theirlist = ['a','b','hello','hi']
oddlist = ['a',1, 4.5, 'Zohaib']
nestedlist = [[1,2],[5,6,7],[8,9,10]]

#### Accessing List

In [ ]:
#print(yourlist)
#print(yourlist[3])

# two types of for loop to access list
for i in range(len(yourlist)):
  print(yourlist[i], end=' ')
print()

for a in yourlist:
  print(a, end=" ")

#### Slicing of list

In [ ]:
yourlist = [1,2,3,4,5]
#print(yourlist[:]) #print all
#print(yourlist[1:3]) #print index 1,2
#print(yourlist[0:5:2]) #print with steps

#cutlist = yourlist[1:4]
#print(cutlist)

#list is mutable
yourlist[3] = 10
print(yourlist)

In [ ]:
#adding one element at a time
fruits = ['apple', 'orange', 'grapes', 'banana']
#print("Original list:", fruits)
fruits.append('papaya')
#print("Modified list:", fruits)

exotic_fruits = ['kiwi', 'dragonfruit', 'avocado']
fruits.extend(exotic_fruits)
#print("More Fruits ", fruits)

fruits.insert(3,'watermelon')
#print(fruits)

fruits.remove('orange')
#print(fruits)

#print(fruits.index('watermelon'))
#fruits.append('avocado')
#print(fruits)
#print(fruits.count('avocado'))

copy_fruits = []
copy_fruits = fruits.copy()

#print(copy_fruits)
copy_fruits[3] = 'tomato'
#print("Original: ", fruits)
#print("Copied: ", copy_fruits)

print("Deleted:", fruits.pop(4))
print(fruits)

In [ ]:
#sorting a list
num = [5,2,8,6,1,9,4]
print("original: ", num)
num.sort(reverse=True)
print("sorted: ", num)

In [ ]:
num = [5,2,8,6,1,9,4]
print(sorted(num))
print(num) #num is not sorted

In [ ]:
# Write a python code to check whether two string are anagram
str1 = input("Enter first word: ")
str2 = input("Enter second word: ")
if(sorted(str1) == sorted(str2)):
  print("They are anagrams")
else:
  print("They are not anagrams")

In [ ]:
# Two dimensional list (nested list)
#mat = [[2,3],[7,8],[9,3]]
#print(mat[1][1])
#user defined 2D list
rows = int(input('Enter no of rows: '))
cols = int(input('Enter no of cols: '))
#to fill zeros in a nested list having given rows and cols
# Method 1 (for loop)
mat = []
for j in range(rows):
  temp = []
  for i in range(cols):
    temp.append(0)
  mat.append(temp)

print(mat)

In [ ]:
mat = [[0]*cols]*rows
print(mat)

In [ ]:
lst = ['CE', 'CS', 'DS']
print(lst * 3)

### List Comprehension

In [ ]:
num = []
for i in range(1,101):
  num.append(i)
print(num)

In [ ]:
num = [i for i in range(1,101)]
print(num)

In [ ]:
num = [i*2 for i in range(1,101)]
print(num)

In [ ]:
num = [i**2 for i in range(1,101)]
print(num)

In [ ]:
num = [i for i in range(1,101) if i%2==0]
print(num)

In [ ]:
import random
num = [random.randint(1,100) for i in range(100)]
print("Original List: ",num)

def check_prime(n):
  if(n==2 or n==3): return True
  i=2
  flag = True
  while(i*i <= n):
    if(n%i==0):
      flag = False
      break
    i+=1

  return flag



new_num = [i for i in num if check_prime(i)==True ]
print(new_num)

# Tuples
1. Declaration
2. Access
3. Update

In [ ]:
mytup = (1,2,3,4)
print(mytup[2])

mytup = (1,2,10,4)

mytup = mytup[2:4]
print(type(mytup))

In [ ]:
new_tup = (2,)
print(type(new_tup))

In [ ]:
a,b,c = 2,3,4
print(type(a))

In [ ]:
a = (1,2,3,4)
print(id(a))
a = a + (5,6)
print(id(a))
print(a)

In [ ]:
a = [1,2,3]
b = a
print(id(a), id(b))
b[1] = 100
print(a)

In [ ]:
a = ([1,2],[3,4],[6,7])
a[1][1] = 10
print(a)

# Dictionary

1.   Declaration
2.   Access
3.   Update

## Built in dictionary methods
1.  d.clear()
2.  d.get(\<key\>[, \<default\>])
3.  d.items()
4.  d.keys()
5.  d.values()
6.  d.pop(\<key\>[, \<default\>])
7.  d.popitem()
8.  d.update(\<obj\>)

In [ ]:
mydictionary = {1:"red",2:"black",3:"purple"}
print(mydictionary[1])

mydictionary[4] = "black"
print(mydictionary)

mydictionary[2] = "cyan"
print(mydictionary)

mydictionary['hello'] = "orange"

print(mydictionary)

red
{1: 'red', 2: 'black', 3: 'purple', 4: 'black'}
{1: 'red', 2: 'cyan', 3: 'purple', 4: 'black'}
{1: 'red', 2: 'cyan', 3: 'purple', 4: 'black', 'hello': 'orange'}

In [ ]:
stud_marks = {1:[20,30,40],2:[80,90,70],3:[65,78,34]}
print(stud_marks[3][1])

78

In [ ]:
allkeys = mydictionary.keys()
print(tuple(allkeys))
allvalues = mydictionary.values()
print(tuple(allvalues))

(1, 2, 3, 4, 'hello')
('red', 'cyan', 'purple', 'black', 'orange')

In [ ]:
for i in mydictionary.keys():
  print(i, end=" ")

1 2 3 4 hello

In [ ]:
for i in mydictionary.values():
  print(i, end=" ")

red cyan purple black orange

In [ ]:
dict_items = mydictionary.items()
print(dict_items)

dict_items([(1, 'red'), (2, 'cyan'), (3, 'purple'), (4, 'black'), ('hello', 'orange')])

In [ ]:
for i,j in mydictionary.items():
  print(i,":",j)

1 : red
2 : cyan
3 : purple
4 : black
hello : orange

In [ ]:
mydictionary.pop(2)
print(mydictionary)

{1: 'red', 3: 'purple'}

In [ ]:
mydictionary = {1:"red",2:"black",3:"purple"}
new_dict = {2:'yellow',4:'cyan'}
mydictionary.update(new_dict)
print(mydictionary)

{1: 'red', 2: 'yellow', 3: 'purple', 4: 'cyan'}

In [ ]:
print(dict(sorted(mydictionary.items(), key = lambda x:x[1], reverse=True)))

{2: 'yellow', 1: 'red', 3: 'purple', 4: 'cyan'}

In [ ]:
stu_details = [(2,'ravi','sharma','13'),(1,'gauarv','verma','21'),(3,'ansh','mishra','13'),(4,'zohaib','hasan','25')]
sorted(stu_details)

[(1, 'gauarv', 'verma', '21'),
 (2, 'ravi', 'sharma', '13'),
 (3, 'ansh', 'mishra', '13'),
 (4, 'zohaib', 'hasan', '25')]

# Set
1. Create a Set
2. Convert list into a set
3. add - new item to a set
4. update - merge two sets
5. remove/discard - remove element from a set
6. union, intersection and difference of two sets

In [ ]:
a = {10,5,2,2,4,4}
print(a)

b = [1,2,3,3,5,5,5]
print(set(b))

{10, 2, 4, 5}
{1, 2, 3, 5}

In [ ]:
#adding elements to a set
a = set({})
a.add(10)
a.add(2)
a.add(23)
a.add(20)
print(a)

{10, 2, 20, 23}

In [ ]:
a = {1,2,3}
b = {5,2,7}
a.update(b)
print(a)

{1, 2, 3, 5, 7}

In [ ]:
a.discard(5)
print(a)

{1, 2, 3, 7}

In [ ]:
a.remove(1)
print(a)

{2, 3, 7}

In [ ]:
a = {'apple', 'orange','guava'}
b = {'litchi', 'pineapple','orange'}
c = a.union(b)
print(c)
d = a.intersection(b)
print(d)
e = a.difference(b)
print(e)

{'apple', 'litchi', 'orange', 'guava', 'pineapple'}
{'orange'}
{'apple', 'guava'}

##Text

*  Printing text
*  Escaping special characters
*  Single, double quotes
*  Raw Print, multiline print
*  text multiply by integer
*  concat and auto concat
*  indexing and slicing of string
*  string immutability
*  string formatted printing

In [ ]:
print('Hello'
'world')
print(a)

Hello

In [ ]:
print("There's hope")

There's hope

In [ ]:
print('Hello!! "John"')

Hello!! "John"

In [ ]:
print("Hello \"John\". There's still hope")

Hello "John". There's still hope

In [ ]:
print(r'Hello World')
print('C:\\node\\text')

C:\node\
    text
C:\node\text

In [ ]:
print('''
#include <stdio.h>
int main() {
  printf("Hello World!");
  return 0;
}''')

#include <stdio.h>
int main() {
  printf("Hello World!");
  return 0;
}

In [ ]:
a = "Mathematics"*3
print(a)

MathematicsMathematicsMathematics

In [ ]:
print(a[10])

s

In [ ]:
print(a[-20])

t

In [ ]:
print(a[22:])

Mathematics

In [ ]:
a[0] = 'm'

TypeError: 'str' object does not support item assignment

In [ ]:
item = 'oranges'
cost = 12.6
quan = 3

print('{} {} costs Rs.{}/-'.format(quan,item,cost*quan))

print(f"{quan} {item} costs Rs.{cost*quan}/-")

oranges 3 costs Rs.37.8/-
3 oranges costs Rs.37.8/-

#Functions in Python

In [ ]:
def fun():
  print("Hello World")

fun()

Hello World

In [ ]:
def fun2(n):
  print("Hello",n)
  n = "Nitin"

name = "Zohaib"
fun2(name)
print(name)

Hello Zohaib
Zohaib

In [ ]:
def fun3(mylist):
  mylist.append('$')
  return mylist

mylist = []
print(fun3(mylist))
print(fun3(mylist))

['$']
['$', '$']

In [ ]:
def fun4(fx):
  print("2:",id(fx))
  fx = 10
  print("3:",id(fx))
x = 5
print("1:",id(x))
fun4(x)

1: 132043344691568
2: 132043344691568
3: 132043344691728

In [ ]:
#Write a function that takes two numbers
#and returns their sum (positional arguments)
def calc(a,b):
  return a+b,a-b,a*b,a/b
x,y,z,w = calc(4,3)
print(x,y,z,w)

7 1 12 1.3333333333333333

In [ ]:
#Write a code to find the average of 2 to 4 numbers
def avg(a,b,c=0,d=0):
  return (a+b+c+d)/4 #How do we know that 4 numbers were passed???

print(avg(4,5))

2.25

In [ ]:
#Keyword arguments
def personInfo(name, bike, car):
  print(f'{name} has {bike} bike and {car} car')

personInfo(bike = 'h2r', car = 'lamborghini', name = 'john')

john has h2r bike and lamborghini car

In [ ]:
# Combining positional and keyword arguments
personInfo('navin',car='swift', bike='splendor')
personInfo('navin','splendor', car='swift')

navin has splendor bike and swift car
navin has splendor bike and swift car

In [ ]:
#Write a code to find the average of 2 to any amount of numbers
#Tuple packing
def avg(*args):
  return sum(args)/len(args)

print(avg(4,5,6,7))

5.5

In [ ]:
#Tuple unpacking
def datePrint(dd,mm,yyyy):
  print(f'{dd}/{mm}/{yyyy}')

date = (12,12,2024)
datePrint(*date)

12/12/2024

## Dictionary packing

In [ ]:
def func(**args):
  print('{', end=" ")
  for key, val in args.items():
    print(key,":",val)
  print('}')
func(rollno=60, name='Zohaib', branch='EC')

{ rollno : 60
name : Zohaib
branch : EC
}

## Lambda Functions (Anonymous Functions)

In [ ]:
def times2(num):
  return 2*num

print(times2(4))

8

In [ ]:
times2 = lambda num:2*num
print(times2(5))

10

## Why do we need lambda function?

In [ ]:
def func(n):
    return lambda a:a*n

mydoubler = func(2)
print(mydoubler(10))
mytripler = func(3)
print(mytripler(10))

20
30

## Map function

In [ ]:
#doubling each element of a list without using map function
mylist = [2,3,4,5,6]
doublelist = []

def func(n):
    return lambda a:a*n

#print(doublelist)

[4, 6, 8]

In [ ]:
doublelist = list(map(func(2), mylist))
print(doublelist)

[4, 6, 8]

In [ ]:
doublelist = list(map(lambda x:x*2, mylist))
print(doublelist)

[4, 6, 8]

## Filter function

In [ ]:
import random
myrandom = []
for i in range(1,11):
    myrandom.append(random.randint(1,50))
print(myrandom)

[1, 34, 26, 24, 19, 15, 33, 26, 32, 39]

In [ ]:
oddnumber = list(filter(lambda x: x%2==0, myrandom))
print(oddnumber)

[34, 26, 24, 26, 32]

# Object Oriented Programming

## Class and Object

In [ ]:
class Student:
    pass

s1 = Student()
print(type(s1))
s2 = Student()
print(s1==s2)

<class '__main__.Student'>
False

## init method, self and instance variables

In [ ]:
class Student:
    def __init__(self):
        self.name = "Tarun"
        self.age = 21

s1 = Student()
s1.name = "Naveen"
s1.age = 45
print(s1.name, s1.age)

Naveen 45

## type of variables
* instance variables
* class variables

In [ ]:
class Student:
    collegename = "BGIEM" #class variable
    def __init__(self):
        self.name = "Tarun"
        self.age = 21
s1=Student()
s1.name="John"
s1.age= 17

s2=Student()
s2.name="Paras"
s2.age = 18

Student.collegename = "LNCT"

print(s1.name, s1.age, s1.collegename)
print(s2.name, s2.age, s2.collegename)

print(id(s1.collegename),id(s2.collegename))

John 17 LNCT
Paras 18 LNCT
133754546540080 133754546540080

In [11]:
class Car:
    noOfWheels = 4
    def __init__(self,brand,model,fuel='Petrol'):
        self.brand = brand
        self.model = model
        self.fuel = fuel

    def __str__(self):
        return f'{self.brand} | {self.model} | {self.fuel}'

c1 = Car('KIA','Seltos','CNG')
c2 = Car('Suzuki','Baleno','Electric')
print(c1)
print(c2)
Car.noOfWheels = int(input("Enter the no of wheels: "))
print(c1.noOfWheels)

KIA | Seltos | CNG
Suzuki | Baleno | Electric
Enter the no of wheels: 6
6

In [22]:
import random
class Car:
    noOfWheels = 4 #class variable
    def __init__(self,brand,model,fuel='Petrol'):
        self.brand = brand #instance variables
        self.model = model #instance variables
        self.fuel = fuel #instance variables

    #instance method
    def show(self):
        print(self.brand , self.model , self.fuel, sep = " | ")

    @classmethod
    def changeWheels(cls, wheels):
        cls.noOfWheels = wheels
    @staticmethod
    def generateCarColor():
        colors = ['red', 'white','black']
        print("Car color:",random.choice(colors))

c1 = Car('Suzuki','Baleno','Electric')
c1.show()
Car.changeWheels(6)
print("No of Wheels:" ,c1.noOfWheels)
c1.generateCarColor()

Suzuki | Baleno | Electric
No of Wheels: 6
Car color: black

#Inheritance

In [23]:
class Parent:
    def fun(self):
        print("Hello")

class Child(Parent):
    pass

obj = Child()
obj.fun()

Hello

## Single Inheritance

In [35]:
class A:
    def feature1(self):
        print("Parent's Feature 1 working")
    def feature2(self):
        print("Feature 2 working")
class B(A):
    def feature1(self):
        print("Child's Feature 1 working")

obj = B()
obj.feature1()

Child's Feature 1 working

## Multilevel Inheritance

In [38]:
class A:
    def feature1(self):
        print("Feature 1 working")
    def feature2(self):
        print("Feature 2 working")
class B(A):
    def feature3(self):
        print("Feature 3 working")
class C(B):
    def feature4(self):
        print("Feature 4 working")

obj = C()
obj.feature3()

Feature 3 working

## Hierarchical Inheritance

In [41]:
class A:
    def feature1(self):
        print("Feature 1 working")
    def feature2(self):
        print("Feature 2 working")
class B(A):
    def feature3(self):
        print("Feature 3 working")
class C(A):
    def feature4(self):
        print("Feature 4 working")

objB = B()
objB.feature3()
objB.feature1()

objC = C()
objC.feature4()
objC.feature2()

Feature 3 working
Feature 1 working
Feature 4 working
Feature 2 working

## Multiple Inheritance

In [42]:
class A:
    def feature1(self):
        print("Feature 1 working")

class B:
    def feature2(self):
        print("Feature 2 working")

class C(A,B):
    def feature3(self):
        print("Feature 3 working")

obj= C()
obj.feature1()
obj.feature2()
obj.feature3()

Feature 1 working
Feature 2 working
Feature 3 working

### Method Resolution Order (MRO)

In [44]:
class A:
    def feature1(self):
        print("A: Feature 1 working")

class B:
    def feature1(self):
        print("B: Feature 1 working")

class C(B,A):
    def feature3(self):
        print("Feature 3 working")

obj= C()
obj.feature1()

B: Feature 1 working